@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* nav-bar */
.nav-bar{
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    padding: 30px 0px;
    background-color: #1a0b2e ;
    justify-content: space-between;
    align-items: center;
    
}
/* background-color */
.background{
    background-color: #1A0B2E;
} 
/* logo */
.logo{
    font-size: 2.5rem;
    color: #ffffff;
}
.gradirnt-color{
    background:linear-gradient(90deg,rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 50%, rgba(145, 0, 248, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     background-clip: text;
      color: transparent;
}
/* shared-style */
.display{
    display: flex;
}
.nav-menu li{
    list-style: none;
    margin-left: 32px;
}
.nav-menu li a:hover{
    color: rgba(145, 0, 248, 1);
}
.nav-item{
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
}
/* button */
.btn{
    padding: 12px 16px;
    border-radius: 10px;
    border: none;
    text-align: center;
    color: #ffffff;
    background: linear-gradient(60deg,rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 50%, rgba(145, 0, 248, 1) 100%);
}
.btn:hover{
    border: 1px solid rgb(255, 30, 225);
    background: transparent;
    color: #ffffff;
}
/* responsive section */
@media screen and (max-width: 576px) {
    .nav-menu ,.btn {
        display: none;
}
#menu-icon{
    display: block !important;
    color: #ffffff;
    font-size: 2rem;
    margin-left: auto;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.logo{
    font-size: 1.8rem;
    margin-right:0px ;
}

}